.navbar {
  z-index: 1;
  width: 180px;  
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #1b1b1b;
  align-items: center;

  .logo_container{
    overflow: hidden;
    box-sizing: border-box;
    height: 36px;
    width: 36px;
    margin-top: 30px;
    margin-bottom: 20px;
    pointer-events: none;
    img{
      display: block;
      height: 100%;
      width:100%;
    }
  }

  .navbar_home {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    img {
      align-self: center;
      width: 30px;
    }
    span {
      /* Caption / Regular */
      font-family: Ubuntu;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 150%;
      /* identical to box height, or 18px */
      letter-spacing: 0.4px;
      color: #ffffff;
    }
  }

  .navbar_tags {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    img {
      align-self: center;
      width: 30px;
    }
    span {
      /* Caption / Regular */
      font-family: Ubuntu;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 150%;
      /* identical to box height, or 18px */
      letter-spacing: 0.4px;
      color: #ffffff;
    }
  }
}
