.Root {
  display: flex;
  justify-content: flex-start;
  text-align: center;
  background-color: #181818;
  height: 100vh;
  color: white;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: 100%;
  width: 100%;
  .content{
    height: 100%;
    width: 100%;
  }
}


.foller-wrapper {
  z-index: 1;
  height: 100%;
  width: 898px;
  background-color: #1b1b1b;
}
